And yes regarding your meeting's MoM:
- 4 Sections
- About, Events, Webinars, Open Source Communities
- Side Slide Menu or Fragments 
- Material Design

- Event Page will contain:
    - Events will be shown as cards
    - Event Poster/Thumb
    - Action Buttons (max 2) according to JSON File.
    - Event Description

- Push Notifications for Events
- Webinars will contain embedded YouTube player or external link to Youtube App

Deadline: 1 week before major starts.
It'll contain:
Upcoming Events with Push Notifications (Default Page)
About
Contact
Webinars (YouTube Links with thumbs and description from JSON file)
Information on open source communities
Links to our Facebook/YouTube Page
 
Button to propose a talk/event. (This links to google forms)

All the data required should be parsed from JSON files at: asetalias.in/data/
- data-home.json
- events.json
- site-meta.json
- communities.json
- webinars.json

You should cache the data in case no network is available.

Material Design would be preferred..

Further specifics will be given as we progress.

Will be open-source.


developer notes:
-themes: dark/light
-transparent action bar
-


//https://stackoverflow.com/questions/2068344/how-do-i-get-a-youtube-video-thumbnail-from-the-youtube-api
//startActivity(new Intent(Intent.ACTION_VIEW, Uri.parse("http://www.youtube.com/watch?v=cxLG2wtE7TM")));